:root {
    --background: #198754;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
    color: #3eb9fc;
}
#hero,#footer {
    background: var(--background);
}
#header.header-scrolled {
    background: #125f3be9;
}
.dropdown-item i {
    font-size: 20px !important;
    margin-right: 10px !important;
}
.error {
    display: none;
}
.error.error-show {
    display: block;
}